
@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Sans&display=swap');
:root{
    --cor01:#ebe5c5;
    --cor02:#83e1ad;
    --cor03:#3ddc84;
    --cor04:#2fa666;
    --cor05:#1a5c37;
    --cor06:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'PT Sans', sans-serif;
    --fonte-android: 'Android', cursive;
}
* {
    margin:0;
    padding: 0;
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

header {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    color: white;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 5px;
}

a.externo::after {
    content: '\1F517';
}

header h1 {
    font-size: 48px;
}

header p {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
}

nav {
    color: white;
    text-align: left;
}

nav > a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor05);
    padding: 5px;
    border-radius: 5px;

}

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor05);
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor02), #fff);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 22px;
}

main a {
    text-decoration: none;
    color: var(--cor06);
    padding: 5px;
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
    background-color: var(--cor03);
    border-radius: 5px;
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main img#bugdroid {
    width: 400px;
    display: block;
    margin: auto;
}

div.video {
    position: relative;
    background-color: var(--cor06);
    padding: 20px;
    padding-bottom: 55%;
    margin: 0px -20px 20px -20px;


}
div.video > iframe {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    left: 5% ;
    top: 5% ;

}

main article#extra {
    font-family: var(--fonte-padrao);
    background-color: var(--cor02);
    border-radius: 7.5px;
    padding: 15px;

}

main article#extra h3{
    color: white;
    background-color: var(--cor04);
    padding: 15px;
    margin: -15px -15px 0px -15px;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;

}
main article#extra ul {
    list-style-type: '\2705';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor04);
    color: white;
    text-align: center;
    padding: 25px;
}



